<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Create a class</title>

</head>      

<body>

   <form method="POST" action="/addclass">

      <h4>
                Add a class
              </h4>

              <p >
               please be a nice teacher <3
              </p>

              <div >


              <div >

                <label>name</label>
                <div>
                  <input type="text"  name="name">
                  <div >

                  </div>
                </div>

              </div>

                </div>

              <div >


                <label>Text</label>
                <div class="input-group">
                  <input type="text"  name="text">
                  <div>

                  </div>
                </div>

              </div>



              </div>


              <div >

                <div >

  
                  <div >
                    <input type="submit"/>
                  </div>

                </div>
              </div> 

              </div>
    </form>
    <br>
   
<a href="/classes"><button>home</button></a>  

</body>
</html>
