<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CLASSY</title>
    <!-- <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet" /> -->
</head>
<body>
    








        <br>
                  
</body>
</html>

   {%for i in all_d%}
   <h1>{{all_d[i]['name']}}</h1>
   <h2> {{all_d[i]['text']}}</h2>
   <h3>{{all_d[i]['imagelink']}}</h3>
   {%endfor%}




<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>~CLASSY~</h1>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Math</h3>
      <p>material: Algebra</p>
    </div>
    <div class="col-sm-4">
      <h3>Physics</h3>
      <p>material: Gravity</p>
    </div>
    <div class="col-sm-4">
      <h3>Chemistry</h3>        
      <p>material ionic bonds</p>
    </div>
  </div>
</div>


<a href="/todo"><button>To do </button></a>

<a href="/homework"><button>add homework </button></a>

<a href="/addclass"><button>add class </button></a>
</body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

   {%for i in classes%}


  <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>{{classes[i]['name']}}</h3>
      <p>{{classes[i]['text']}}</p>
    </div>
 </div>
</div>

  {%endfor%}
</body>
</html>