<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add homework</title>
</head>
<body>
    <form method="POST" action="/todo">


              <h4>
                Homework time!
              </h4>

              <div >


              <div >

                <label>class</label>
                <div>
                  <input type="text"  name="class">
                  <div >

                  </div>
                </div>

              </div>

                </div>

              <div >


                <label>Homework</label>
                <div class="input-group">
                  <input type="text"  name="homework">
                  <div>

                  </div>
                </div>

              </div>

              </div>

<div >


                <label>Due date</label>
                <div class="input-group">
                  <input type="text"  name="due_date">
                  <div>

                  </div>
                </div>

              </div>

              </div>

              <div >

                <div >

  
                  <div >
                    <input type="submit"/>
                  </div>

                </div>
              </div> 

              </div>
    </form>
    <br>
        <a href="/classes"><button>home</button></a>

</body>
</html>