<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>To do list</h2>

<table>
  <tr>
    <th>Class</th>
    <th>HW</th>
    <th>Due date</th>
  </tr>
  <tr>
    <td>physics</td>
    <td>WS 4 </td>
    <td>2/2/2022</td>
  </tr>
</table>
<a href="/home"><button>home</button></a>
</body>
</html>